<!DOCTYPE html>
<html lang="en" itemtype="http://schema.org/WebPage"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" sizes="76x76"
	href="../assets/img/apple-icon.png">
<link rel="icon" type="image/png" href="../assets/img/favicon.png">
<title>UNDEFINED</title>

<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css'
	rel='stylesheet' type='text/css'>
<link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
<link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
	rel="stylesheet">
<link id="pagestyle" href="../assets/css/material-kit.css?v=3.0.4"
	rel="stylesheet" />
<link id="" href="/assets/css/my.css" rel="stylesheet" />
<link rel="stylesheet" href="../assets/css/my.css">

<script src="https://kit.fontawesome.com/42d5adcbca.js"
	crossorigin="anonymous"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script th:inline="javascript">
	function LoadSignUP() {
		location.href = "/signup.do"
	}
</script>

</head>

<body class="sign-in-basic font-my">
	<!-- Start Login card -->
	<div class="page-header login-bg align-items-start min-vh-100">
		<span class="mask bg-gradient-blue opacity-6"></span>
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-4 col-md-8 col-12 mx-auto">
					<div class="card z-index-0 fadeIn3 fadeInBottom">
						<div
							class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
							<div
								class="bg-gradient-blue shadow-dark border-radius-lg py-3 pe-1">
								<h4 class="text-white text-center mt-2 mb-0 font-w-6 font-size">Welcome!</h4>
							</div>
						</div>
						<div th:if="${#lists.isEmpty(session.mvo)}" class="card-body">
							<form role="form" class="text-start" action="login.do"
								method="post">
								<div class="input-group input-group-outline my-3">
									<label class="form-label" for="memID">Email</label> <input
										type="email" class="form-control" name="memID">
								</div>
								<div class="input-group input-group-outline mb-3">
									<label class="form-label" for="memPw">Password</label> <input
										type="password" class="form-control" name="memPw">
								</div>
								<div th:if="${msg == false}">
									<p style="color: #f00; font-size: 11px">로그인에 실패했습니다. 아이디또는
										패스워드를 다시 입력해주십시오.</p>
								</div>
								<div class="text-center">
									<button type="submit"
										class="btn bg-gradient-blue w-80 my-4 mb-1 bg-gradient-blue-button ">Sign
										in</button>
									<p class="mt-3 text-sm text-center" onclick="LoadSignUP()">Create Account</p>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="../assets/js/plugins/parallax.min.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
<script src="../assets/js/material-kit.min.js?v=3.0.4"
	type="text/javascript"></script>

</html>